body {
    height: 100%;
    width: 100%;
    background-color: #ccc0c0;
    font-family: 'Poppins', 'Arial Nova';
    color: #222;

}

.navbar {
    padding: 0.8rem;
    background-color: #92bdba;
}

.navbar-nav li {
    padding-right: 20px;
    padding-top: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.btn-add {
    background-color: #574db5;
    color: #e1e1e1;
    margin-right: 100px;
}

.btn-sub {
    background-color: #093ebb;
    color: #e2d9d9;
}



.carousel {
    position: center;
    padding: 20px
}

    .carousel img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

footer {
    background-color: #92bdba;
}

.footer-copyright {
    background-color: #76a8a2;
}

.registration {
    position: relative;
    text-align: center;
    color: #d4c8c8;
    
}
.registration img{
    width:inherit;
    overflow:hidden;
  
}
.registration-bg {
    overflow-x: hidden;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.btn-form {
    background-color: #df9547;
    color: #e0d0d0;
}

.btn-red {
    background-color: #e55e5e;
    color: #e0d0d0;
}



.btn-edit {
    background-color: #4853ae;
    color: #e0d0d0;
}

.thead-color {
    background-color: #b9c1c2;
}

.btn-sub {
    background-color: #093ebb;
    color: #e2d9d9;
}
